WcfClient1/Connected Services/SolaServis/Storitev12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStudent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Student" nillable="true" type="tns:Student" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudent" nillable="true" type="tns:ArrayOfStudent" />
  <xs:complexType name="Student">
    <xs:sequence>
      <xs:element minOccurs="0" name="DatumRojstva" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Ime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priimek" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="studentImaPredmete" nillable="true" type="tns:ArrayOfStudentImaPredmet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Student" nillable="true" type="tns:Student" />
  <xs:complexType name="ArrayOfStudentImaPredmet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StudentImaPredmet" nillable="true" type="tns:StudentImaPredmet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudentImaPredmet" nillable="true" type="tns:ArrayOfStudentImaPredmet" />
  <xs:complexType name="StudentImaPredmet">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Predmet" nillable="true" type="tns:Predmet" />
      <xs:element minOccurs="0" name="PredmetId" type="xs:int" />
      <xs:element minOccurs="0" name="Student" nillable="true" type="tns:Student" />
      <xs:element minOccurs="0" name="StudentId" type="xs:int" />
      <xs:element minOccurs="0" name="ocena" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudentImaPredmet" nillable="true" type="tns:StudentImaPredmet" />
  <xs:complexType name="Predmet">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ects" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Kratica" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Naziv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="studentiImajoPredmet" nillable="true" type="tns:ArrayOfStudentImaPredmet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Predmet" nillable="true" type="tns:Predmet" />
  <xs:complexType name="ArrayOfPredmet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Predmet" nillable="true" type="tns:Predmet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPredmet" nillable="true" type="tns:ArrayOfPredmet" />
</xs:schema>