WpfApp1/Connected Services/SolaStoritev/Storitev1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1840/Storitev1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
  <xs:element name="login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="geslo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vrniVseStudente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="vrniVseStudenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="vrniVseStudenteResult" nillable="true" type="q1:ArrayOfStudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vrniVsePredmete">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="vrniVsePredmeteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="vrniVsePredmeteResult" nillable="true" type="q2:ArrayOfPredmet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vrniStudenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vrniStudentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="vrniStudentaResult" nillable="true" type="q3:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vrniPredmet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kratica" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vrniPredmetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="vrniPredmetResult" nillable="true" type="q4:Predmet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vrniPredmetPoId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vrniPredmetPoIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="vrniPredmetPoIdResult" nillable="true" type="q5:Predmet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="predmetKiImaNajvecStudentov">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="predmetKiImaNajvecStudentovResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="predmetKiImaNajvecStudentovResult" nillable="true" type="q6:Predmet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="najstarejsiStudent">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="najstarejsiStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="najstarejsiStudentResult" nillable="true" type="q7:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="povprecnaOcenaStudenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="povprecnaOcenaStudentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="povprecnaOcenaStudentaResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dodajPredmet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="naziv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kratica" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ects" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dodajPredmetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dodajPredmetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dodajStudenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="priimek" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="datum" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dodajStudentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dodajStudentaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="izbrisiPredmet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kratica" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="izbrisiPredmetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="izbrisiPredmetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="izbrisiStudenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="izbrisiStudentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="izbrisiStudentaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="spremeniPredmet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kratica" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="novaKratica" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="naziv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ects" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="spremeniPredmetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="spremeniPredmetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="spremeniStudenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="ime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="priimek" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dt" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="spremeniStudentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="spremeniStudentaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dodajStudentuPredmet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="kratica" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ocena" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dodajStudentuPredmetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dodajStudentuPredmetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="odstraniStudentaIzPredmeta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="kratica" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="odstraniStudentaIzPredmetaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="odstraniStudentaIzPredmetaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="spremeniOcenoStudenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="kratica" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ocena" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="spremeniOcenoStudentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="spremeniOcenoStudentaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vrniVseStudentImaPredmete">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="vrniVseStudentImaPredmeteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="vrniVseStudentImaPredmeteResult" nillable="true" type="q8:ArrayOfStudentImaPredmet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>